:root {
    --header:#ce4b4b;
    --text-gray:#4a4a4a;
    --color-primary: #254263;
    --white: #fff;
    --text-light-gray: #aaa;  
    --star-yellow: #ffbb3a;

}

header{
    background-color: var(--header);
}

.navega{
    color:rgb(130, 124, 210);
    background-color:var(--header);
    text-decoration-line: none;
    margin-right:5%;
}



.container {
  display: flex;
}

.aolado{
    top:70%;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: #915f5f;
    position: absolute;

}



#apresentacao{
  flex: 1;
  background-color: #ffbb3a;
}
