.inputs-remetente-duvida{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px black;
  background-color: aliceblue;
}

#fieldset-enviar-pergunta input::-webkit-input-placeholder{
  opacity: 0.58;
}

#fieldset-enviar-pergunta input:focus, #fieldset-enviar-pergunta input:not(:focus){
    color: white;
}

#fieldset-enviar-pergunta textarea{
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#fieldset-enviar-pergunta .inputs-remetente-duvida input{
  width: 100%;
}
.produtos-similares h3{
    text-align: center;
} 
.produto-similar{
    background-color: lightslategrey;
    padding: 5px;
    margin-block: 5px;
}
.form-pergunta{
    background-color: orangered;
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 1;
}
.form-pergunta fieldset{
    width: 100%;
    margin: 5px;
    float: inline-start;
    background-color: lightblue;
    border-radius: 5px;
}
.form-pergunta fieldset legend{
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: lightslategray;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
}
.lista-produtos-sugeridos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
}
.produto-sugerido p{
    text-align: center;
}
#titulo p {
    color: white;
}

#apresentacao h2 {
  background-color:lightgreen;
  width: fit-content;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  border: solid 1px black;
}
.form-pergunta fieldset input{
    width: 95%;
    background-color: #8f7038;
    margin: 5px;
    border-radius: 5px;
}
.form-pergunta fieldset textarea{
    outline: none;
}
::-webkit-input-placeholder{
    color: white;
    font-weight: bold;
}

#btn-enviar{
    background-color: #8f7038;
    margin-block: 3px;
    border: solid 1px black;
    font-weight: bold;
}

.produtos-similares{
  height:100%;
  background-color: #aaaaaa;
  z-index: -1;
}

.produtos-similares h3{
  font-size: 1.6em;
  background-color: lightcoral;
  width: fit-content;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  border: solid 1px black;
}
.lista-produtos-similares{
    display: flex;
    justify-content: space-evenly;
    background-color:#ccc;
    margin: 5px;
    border: solid 1px black;
}

.produto-similar p {
    text-align: center;
}
.sugestoes{
    background-color: orangered;
    position: relative;
    z-index: 1;
}

.produto-sugerido{
  background-color: lightblue;
  padding: 5px;
}
#sugestoes-h3{

}


.aolado .lista-produtos-sugeridos .produto-sugerido{
  margin-block-end: 10px;
}

#sugestoes-h3 h3{
  display: inline;
  padding: 5px;
  border-radius: 5px;
  background-color: aliceblue;
}
.textarea{
  display: flex;
  justify-content: center;
  margin: 5px;
}

.textarea textarea{
  border-radius: 5px;
}
@media screen and (min-width: 240px) and (max-width: 750px) {
  .sugestoes{
    z-index: -1;
  }
 
#lingua .linguagem {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  background-color: #ccc;
  margin-right: 4px;
  font-weight: bold;
  font-size: 1.5vw;
  border-radius: 4px;
  background-color: #c8f0e8;
  

}
header{
    background-color: var(--header_footer);
  
    
  }

  label{
    color: #473b3b;
  }


/*Lista das opções do lado da logotipo, junto com o seletor de linguagem*/

  #listazinha{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 0 
   }
  
  
  #opcoes{
    display: flex;
    list-style-type: none;
    font-size: 1.5vw ;
    align-items: end;
    
    
  }
  
  #opcoes li{
    padding: 5px;
    color: #4f29b7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  #opcoes li a, #opcoes li label{
    font-size: 1.5em;
    color: white;
  }
 
  /* animação do banner em slide apenas com duas imagens, com uso somente de hmtl e css*/
  
  #slideshow {
  position: relative;
  height:600px;
  width: 100%;
  overflow: hidden;
  }
  
  .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  }
  
  
  .slide:first-child {
  opacity: 1;
  }
  
  .slide img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:1
  }
  
  /*legenda transparente embaixo da imagem com mensagem curta que resume os produtos associados as imagens */
  .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 18px;
  width: 100%;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  .inputs-remetente-duvida{
    padding: 0;
    margin: 0;
/*     background-color: transparent;
    border: transparent; */
    display: flex;
    margin: 5px;
    align-content: center;
    flex-direction: column;
    box-sizing:content-box;
  }
  .inputs-remetente-duvida input{
    box-sizing: border-box;
  }
  /* Auto-play slideshow */
  @keyframes slideshow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  53.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
  }
  
  .slide:not(:first-child) {
  animation: slideshow 8s infinite;
  animation-delay: calc(var(--i) * 5s);
  
  }
  *{margin: 0; padding: 0;}
  
/*   .container {
  display:flex;
  } */
  
  html, body{
  height: 100%;
  width: 100%;
  }
  
  .aolado{
    right: 0;
    width: 20%;
  
    background-color: #915f5f;
    position:static;
    float: left;
  }
  
  
  
  #apresentacao{ 
  width: 80%;
  background-color: #ffbb3a;
  height: max-content;
  }
  
  
  
  footer{
  font-style: oblique;
  font-family:'Times New Roman', Times, serif;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color:var(--header_footer);
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  margin-top: auto;
  
  }  
   
#hamburguer{
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-color: #928585;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
}
  .menu li{
  bottom: 15px;
  position:relative;
  float:left;
  /* border-right:1px solid #c0c0c0; */
  background-color: #100b0b;
  margin-inline: 3px;
  white-space: nowrap;
  text-align: baseline;
  /* width: 100%;/*aqui se muda o tamanho para cell*/ 
  }
  
  .menu li a{
  color: rgb(194, 176, 176);
  text-decoration:none; 
  padding:5px 8px; 
  display:block;
}

/* estilização da barra de navegação*/
a {
    position: relative;
    text-decoration: none;
    color: #473b3b;
}

  a::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: #670594;
      transition: width 0.1s ease-in-out;
    }
    
    a:hover::before {
        width: 100%;
  }
  

  
  nav{
    background-color: #2b2621;
  }
  
  #espaco-pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 100%;
    }
    
    #espaco-pesquisa input{
    outline: none;
    width: max-content;
    align-self: center;
    }
    
    #pesquisa{
      width: max-content;
    }
  
    .search-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin: 14px;
    }
    
    .search-box form{
      width: 100%;
      
    }
    .search-box form #pesquisa{
      width: 100%;
    }
    form {
      display: flex;
      align-items: center;
      border: 2px solid #ccc;
      border-radius: 5px;
      padding: 2px;
    }
    
    input[type="text"] {
      border: none;
      outline: none;
      font-size: 16px;
      padding: 5px;
    }
    
    button[type="submit"] {
      
      border: none;
      color: white;
      padding:5px;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 5px;
    }
    
    .fa-search {
      font-size: 16px;
    }
  
  
    #descricao{
      color: #fff;
      white-space: normal; 
      overflow: hidden; 
      text-overflow: ellipsis;
      text-align:left;
     width: 30vw;
    }
    #sabermais:hover{
      color: #4f29b7;
      text-decoration: underline;
  
    }

.menu2{
    height: 2.5em;
    display: flex;
    align-items: center;
}

.menu2>li>ul{
    position:absolute;
    top:80px;
    left:0;
    display:none;
    width: 100%;
  }
   
   .menu2 li:hover ul, .menu2 li.over ul{display:block;
   z-index:2}
   
   .menu2 li> ul> li{
    border-bottom:1px solid #c0c0c0;
     display:block;
     width: 100%;
     margin: 0;
     min-width: 25vw;
    
   }


      #logo{
        padding: 5px;
        display: flex;
        color:#912424;
        align-items:end;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 100%;
        
      }
      #titulo{
        max-width:100%;
        height:10% ;
        font-size: 4vw;
        padding-bottom: 1vw;
      
      }
      
      #titulo>#titulo_menor{
        max-width:100%;
        height:10% ;
        font-size: 2vw;
      
      }

      #logo>#poster{
        max-width: 12%;
        height: 10%; 
      }
    #div-header img{
        height: 30%;
        width: 30%;
    }
   


    .menu > li> ul> li{
       display:none;
    }


    .menu li:hover ul, .menu li.over ul{display:block;
      z-index:2}
    #descricao-produto{
        border: solid 1px black;
        padding: 5px;
        border-radius: 5px;
        background-color: #c0c0c0;
    }
    #espaco-pesquisa{
        width: 100%;
        background-color: #433926;
    }    
    #slideshow{
        height: 50vh;
    }
    .container{
        display: block;
    }
    .container #apresentacao{
        width: 100%;
    }
    .informacoes-produto{
        display: flex;
        margin: 5px;
    }
    #foto-produto{
        margin-inline: 5px;
    }    

    .produto-sugerido{
        margin: 5px;
    }
    .aolado{
        display: block;
        position:relative;
        width: 100%;
    }

    .produto-sugerido{
        background-color: lightslategray;
        padding: 5px;
    }
}
